<div class="article">
  <div class="articleContentContainer">
    <div class="articleContent">
      <div class="articleTitle"><a class="b" href=""><%= if article.title != "" then article.title  else "Untitled" end %></a></div>
      <div class="articleInfo"><span class="lightWeight">posted in</span> <a class="b" href=""><%= article.category %></a> <span class="lightWeight">by</span> <a class="b" href=""><%= article.author %></a> <span class="lightWeight"><%= article.relative_created_at %></span></div>
      <% if article.event %>
        <div class="eventInfo">
          <div class="eventData">
            <img src="/icons/calendar.png" /><%= article.event.start_date.strftime("%A, %B #{start_date.day.ordinal}, %Y") %>
            <% if article.event.end_date %>
              <span class="lightWeight">to</span> <%= article.event.end_date.strftime("%A, %B #{end_date.day.ordinal}, %Y") %>
            <% end %>
          </div>
          <div class="eventData">
            <img src="/icons/time.png" /><%= article.event.start_time.strftime("%i:%M %p") %>
            <% if article.event.end_time %>
              <span class="lightWeight">until</span> <%= article.event.end_time.strftime("%i:%M %p") %>
            <% end %>
          </div>
          <div class="eventData"><img src="/icons/map-marker.png" /><%= article.event.location %></div>
        </div>
      <% end %>
      <div class="content"><%= if article.post != "" then h(article.post).gsub(/(\r)?\n/, "<br />") else "Nothing here." end %></div>
    </div>
  </div>
  <div class="clear"></div>
</div>