<script src="/js/article_form.js"></script>
<div class="section_container">
  <div class="section">
    <form action="/admin/save_blog_post" data-delete-action="/admin/delete_blog_post">
      <input type="text" class="hidden" name="id" value="<%= blog_post.id %>" />
      <input type="checkbox" class="hidden" name="public" <%= "checked" if blog_post.public %> />
      <div class="input_text">
        <input type="text" class="placeholder title" data-placeholder="Title here" tabindex="-1" />
        <input type="text" class="title" maxlength=100 name="title" value="<%= blog_post.title %>" />
      </div>
      <br />
      <div class="textarea">
        <textarea class="placeholder" data-placeholder="Write post here" tabindex="-1"></textarea>
        <textarea maxlength=2000 name="post"><%= blog_post.post %></textarea>
      </div>
    </form>
  </div>
  <%= erb :_buttons, :locals => { :public => blog_post.public }, :layout => false %>
</div>